/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} 
.admin-dashboard {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.admin-sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;
}

.admin-sidebar li.active,
.admin-sidebar li:hover {
  background-color: #007bff;
  color: white;
}

.admin-main {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-dashboard.dark .admin-sidebar {
  background-color: #1e1e1e;
  color: white;
}
.admin-dashboard.dark .admin-main {
  background-color: #2c2c2c;
  color: white;
}
.admin-dashboard.dark .admin-sidebar li.active,
.admin-dashboard.dark .admin-sidebar li:hover { 
  background-color: #28a745;
}
